<?xml version="1.0"?>
<launch>

<!-- <master auto="start"/> -->

 <include file="$(find roomba_2dnav)/launch/roomba_tf.launch"/>
 
<!--Run LRF-->
  <include file="$(find roomba_2dnav)/launch/roomba_hokuyo.launch"/>

 <!-- Run the map server --> 
 <node name="map_server" pkg="map_server" type="map_server" args="$(find roomba_2dnav)/maps/map2.yaml"/> 
 
 <!--- Run AMCL -->    
 <include file="$(find roomba_2dnav)/launch/roomba_amcl_param.launch" />

 <!--- Run move_base -->    
 <include file="$(find roomba_2dnav)/launch/roomba_move_base.launch" />
 
 <node pkg="roomba_500driver_meiji" type="roomba_500driver_meiji" respawn="false" name="roomba_500driver_meiji"/>
 
 <node pkg="chibi16_control" type="chibi16_control" respawn="false" name="chibi16_control"/>
 
 <node pkg="pet_image" type="pet_image_node" respawn="false" name="pet_image_node"/>
 
 <node pkg="object_distance" type="object_distance_node" respawn="false" name="object_distance_node"/>

 <node pkg="object_approach" type="object_approach_node" respawn="false" name="object_approach_node"/>

 <!--node pkg="go_to_detect" type="go_to_detect_node" respawn="false" name="go_to_detect_node"/-->
 
 <!--node pkg="simple_navigation_goals" type="simple_navigation_goals" respawn="false" name="simple_navigation_goals"/-->

 <node pkg="clear_costmap" type="clear_costmap_node" respawn="false" name="clear_costmap_node"/>
 
 <!--node pkg="point_visualizer" type="point_visualizer_node" respawn="false" name="point_visualizer_node"/-->
 
 <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true">
    <param name="port" value="/dev/ttyACM1"/>
 </node>


</launch>
